In [221]:
import requests
import lxml.html as lh
import pandas as pd

url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
page = requests.get(url)
doc = lh.fromstring(page.content)

In [222]:
tr_elements =doc.xpath('//tr')
col=[]
i=0
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print(i,name)
    col.append((name,[]))

1 Postcode
2 Borough
3 Neighbourhood

In [223]:
for j in range(1, len(tr_elements)):
    T = tr_elements[j]
    if len(T)!=3:
        break
       
    i=0
    for t in T.iterchildren():
        data=t.text_content()
        if i>0:
              try:
                data =int(data)
              except:
                 pass
        col[i][1].append(data)
        i+=1
#[len(C) for (title, C) in col]

In [224]:
Dict={title:column for (title,column) in col}


df=pd.DataFrame(Dict)
df.head()

            Borough     Neighbourhood\n Postcode
0      Not assigned      Not assigned\n      M1A
1      Not assigned      Not assigned\n      M2A
2        North York         Parkwoods\n      M3A
3        North York  Victoria Village\n      M4A
4  Downtown Toronto      Harbourfront\n      M5A

In [225]:
cols=df.columns.tolist()
cols

['Borough', 'Neighbourhood\n', 'Postcode']

In [226]:
cols = cols[-1:] + cols[:-1]
cols

['Postcode', 'Borough', 'Neighbourhood\n']

In [227]:
df=df[cols]
df.head(10)

  Postcode           Borough     Neighbourhood\n
0      M1A      Not assigned      Not assigned\n
1      M2A      Not assigned      Not assigned\n
2      M3A        North York         Parkwoods\n
3      M4A        North York  Victoria Village\n
4      M5A  Downtown Toronto      Harbourfront\n
5      M5A  Downtown Toronto       Regent Park\n
6      M6A        North York  Lawrence Heights\n
7      M6A        North York    Lawrence Manor\n
8      M7A      Queen's Park      Not assigned\n
9      M8A      Not assigned      Not assigned\n

In [228]:
import numpy as np

df.replace("Not assigned", np.nan, inplace=True)
df.head()

  Postcode           Borough     Neighbourhood\n
0      M1A               NaN      Not assigned\n
1      M2A               NaN      Not assigned\n
2      M3A        North York         Parkwoods\n
3      M4A        North York  Victoria Village\n
4      M5A  Downtown Toronto      Harbourfront\n

In [229]:
missing_data =df.isnull()
missing_data.head()

   Postcode  Borough  Neighbourhood\n
0     False     True            False
1     False     True            False
2     False    False            False
3     False    False            False
4     False    False            False

In [230]:
df.dropna(subset=["Borough"],axis=0, inplace=True)

In [231]:
df.reset_index(drop=True, inplace=True)

In [287]:
df.head()

  Postcode           Borough     Neighbourhood\n
0      M3A        North York         Parkwoods\n
1      M4A        North York  Victoria Village\n
2      M5A  Downtown Toronto      Harbourfront\n
3      M5A  Downtown Toronto       Regent Park\n
4      M6A        North York  Lawrence Heights\n

In [288]:
df_postcode=df.groupby('Postcode')  
df_postcode.groups

{'M1B': Int64Index([8, 9], dtype='int64'),
 'M1C': Int64Index([21, 22, 23], dtype='int64'),
 'M1E': Int64Index([33, 34, 35], dtype='int64'),
 'M1G': Int64Index([39], dtype='int64'),
 'M1H': Int64Index([43], dtype='int64'),
 'M1J': Int64Index([54], dtype='int64'),
 'M1K': Int64Index([66, 67, 68], dtype='int64'),
 'M1L': Int64Index([79, 80, 81], dtype='int64'),
 'M1M': Int64Index([93, 94, 95], dtype='int64'),
 'M1N': Int64Index([108, 109], dtype='int64'),
 'M1P': Int64Index([117, 118, 119], dtype='int64'),
 'M1R': Int64Index([127, 128], dtype='int64'),
 'M1S': Int64Index([141], dtype='int64'),
 'M1T': Int64Index([147, 148, 149], dtype='int64'),
 'M1V': Int64Index([155, 156, 157, 158], dtype='int64'),
 'M1W': Int64Index([182], dtype='int64'),
 'M1X': Int64Index([188], dtype='int64'),
 'M2H': Int64Index([44], dtype='int64'),
 'M2J': Int64Index([55, 56, 57], dtype='int64'),
 'M2K': Int64Index([69], dtype='int64'),
 'M2L': Int64Index([82, 83], dtype='int64'),
 'M2M': Int64Index([96, 97], dtype='int64'),
 'M2N': Int64Index([110], dtype='int64'),
 'M2P': Int64Index([120], dtype='int64'),
 'M2R': Int64Index([129], dtype='int64'),
 'M3A': Int64Index([0], dtype='int64'),
 'M3B': Int64Index([10], dtype='int64'),
 'M3C': Int64Index([24, 25], dtype='int64'),
 'M3H': Int64Index([45, 46, 47], dtype='int64'),
 'M3J': Int64Index([58, 59], dtype='int64'),
 'M3K': Int64Index([70, 71], dtype='int64'),
 'M3L': Int64Index([84], dtype='int64'),
 'M3M': Int64Index([98], dtype='int64'),
 'M3N': Int64Index([111], dtype='int64'),
 'M4A': Int64Index([1], dtype='int64'),
 'M4B': Int64Index([11, 12], dtype='int64'),
 'M4C': Int64Index([26], dtype='int64'),
 'M4E': Int64Index([36], dtype='int64'),
 'M4G': Int64Index([40], dtype='int64'),
 'M4H': Int64Index([48], dtype='int64'),
 'M4J': Int64Index([60], dtype='int64'),
 'M4K': Int64Index([72, 73], dtype='int64'),
 'M4L': Int64Index([85, 86], dtype='int64'),
 'M4M': Int64Index([99], dtype='int64'),
 'M4N': Int64Index([112], dtype='int64'),
 'M4P': Int64Index([121], dtype='int64'),
 'M4R': Int64Index([130], dtype='int64'),
 'M4S': Int64Index([142], dtype='int64'),
 'M4T': Int64Index([150, 151], dtype='int64'),
 'M4V': Int64Index([159, 160, 161, 162, 163], dtype='int64'),
 'M4W': Int64Index([183], dtype='int64'),
 'M4X': Int64Index([189, 190], dtype='int64'),
 'M4Y': Int64Index([196], dtype='int64'),
 'M5A': Int64Index([2, 3], dtype='int64'),
 'M5B': Int64Index([13, 14], dtype='int64'),
 'M5C': Int64Index([27], dtype='int64'),
 'M5E': Int64Index([37], dtype='int64'),
 'M5G': Int64Index([41], dtype='int64'),
 'M5H': Int64Index([49, 50, 51], dtype='int64'),
 'M5J': Int64Index([61, 62, 63], dtype='int64'),
 'M5K': Int64Index([74, 75], dtype='int64'),
 'M5L': Int64Index([87, 88], dtype='int64'),
 'M5M': Int64Index([100, 101], dtype='int64'),
 'M5N': Int64Index([113], dtype='int64'),
 'M5P': Int64Index([122, 123], dtype='int64'),
 'M5R': Int64Index([131, 132, 133], dtype='int64'),
 'M5S': Int64Index([143, 144], dtype='int64'),
 'M5T': Int64Index([152, 153, 154], dtype='int64'),
 'M5V': Int64Index([164, 165, 166, 167, 168, 169, 170], dtype='int64'),
 'M5W': Int64Index([184], dtype='int64'),
 'M5X': Int64Index([191, 192], dtype='int64'),
 'M6A': Int64Index([4, 5], dtype='int64'),
 'M6B': Int64Index([15], dtype='int64'),
 'M6C': Int64Index([28], dtype='int64'),
 'M6E': Int64Index([38], dtype='int64'),
 'M6G': Int64Index([42], dtype='int64'),
 'M6H': Int64Index([52, 53], dtype='int64'),
 'M6J': Int64Index([64, 65], dtype='int64'),
 'M6K': Int64Index([76, 77, 78], dtype='int64'),
 'M6L': Int64Index([89, 90, 91], dtype='int64'),
 'M6M': Int64Index([102, 103, 104, 105], dtype='int64'),
 'M6N': Int64Index([114, 115], dtype='int64'),
 'M6P': Int64Index([124, 125], dtype='int64'),
 'M6R': Int64Index([134, 135], dtype='int64'),
 'M6S': Int64Index([145, 146], dtype='int64'),
 'M7A': Int64Index([6], dtype='int64'),
 'M7R': Int64Index([136], dtype='int64'),
 'M7Y': Int64Index([197], dtype='int64'),
 'M8V': Int64Index([171, 172, 173], dtype='int64'),
 'M8W': Int64Index([185, 186], dtype='int64'),
 'M8X': Int64Index([193, 194, 195], dtype='int64'),
 'M8Y': Int64Index([198, 199, 200, 201, 202, 203, 204, 205], dtype='int64'),
 'M8Z': Int64Index([206, 207, 208, 209, 210], dtype='int64'),
 'M9A': Int64Index([7], dtype='int64'),
 'M9B': Int64Index([16, 17, 18, 19, 20], dtype='int64'),
 'M9C': Int64Index([29, 30, 31, 32], dtype='int64'),
 'M9L': Int64Index([92], dtype='int64'),
 'M9M': Int64Index([106, 107], dtype='int64'),
 'M9N': Int64Index([116], dtype='int64'),
 'M9P': Int64Index([126], dtype='int64'),
 'M9R': Int64Index([137, 138, 139, 140], dtype='int64'),
 'M9V': Int64Index([174, 175, 176, 177, 178, 179, 180, 181], dtype='int64'),
 'M9W': Int64Index([187], dtype='int64')}